/*BODY*/

* {
    margin:0;
    padding: 0;
    border: 0;
}


html{
  height: 100%;
}

body
    { 
    font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;     
    text-align:center; 
} 




/*CART LOGIC*/

/* (A) ENTIRE PAGE */
#cart-wrap {
    font-family: arial, sans-serif;
    display: flex;
    margin: 150px auto;
    max-width: 1000px;
  }
  #cart-products, #cart-items {
    box-sizing: border-box;
    padding: 10px;
  }
  #cart-products { width: 70%; }
  #cart-items { width: 30%; }
  input.cart, button.cart {
    padding: 10px;
    border: 0;
    background: #000000;
    color: #fff;
    font-weight: 24px;
    cursor: pointer;
  }
  
  /* (B) PRODUCTS LIST */
  #cart-products {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .p-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  .p-img { max-width: 150px; max-height: 150px; }
  .p-name, .p-price { font-weight: 700; font-size: 24px; }
  .p-name, .p-desc, .p-price { margin: 5px 0;}
  .p-name { text-transform: uppercase; }
  .p-desc {
    color: #aaa;
    font-size: 12px;
  }
  .p-price { font-size: 24px; }
  input.p-add { width: 70%; }
  
  /* (C) CURRENT SHOPPING CART */
  #cart-items {
    background: #31394d;
    color: #fff;
    border-radius: 5px;
  }
  .c-item {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .c-item > * { box-sizing: border-box; }
  .c-name, .c-total, input.c-empty, input.c-checkout { width: 100%; }
  .c-total, input.c-empty, input.c-checkout { margin-top: 10px;}
  .c-del { width: 25%; }
  .c-qty { width: 75%; }
  .c-total {
    font-weight: 700;
    font-size: 16px;
  }
  
  /* (D) RESPONSIVE */
  @media screen AND (max-width: 768px) {
    #cart-wrap { grid-template-columns: 60% 40%; }
    #cart-products { grid-template-columns: auto; }
  }
  





/*LOADING*/

#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    position: absolute;
    top: 100px;
    left: auto;
    z-index: 100;
  }